:root{
	--accueiltext:#fdcb46;
	--accueilback:#579c87;
	--accueilborder:#a1c181;
	--noteback:#fcdfdb;
	--notetext:#3c1218;
	--noteleft:#f04a5e;
	--noteright:#f78f6a;
	--chicback:#fff5fe;
	--chictext:#c77412;
	--chicleft:#d8852e;
	--chicright:#905bfd;
	--deliceback:#f9f9f9;
	--delicetext:#0887fb;
	--deliceleft:#2140df;
	--deliceright:#0887fb;
	--paletteback:#fdfffd;
	--palettetext:#72bf56;
	--paletteleft:#3d9339;
	--paletteright:#bfff7e;


}

.degrade.LaNoteEnchantee{
	background: 
	-webkit-linear-gradient(left,var(--noteleft),var(--noteright));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.degrade.LeChicALaFrancaise{
	background: 
	-webkit-linear-gradient(left,var(--chicleft),var(--chicright));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.degrade.LeDeliceDesPapilles{
	background: 
	-webkit-linear-gradient(left,var(--deliceleft),var(--deliceright));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.degrade.LaPaletteDuGout{
	background: 
	-webkit-linear-gradient(left,var(--paletteleft),var(--paletteright));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

header{
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row: 1;
	background-color: var(--accueilback);
	border-bottom-color: var(--accueilborder);
	text-align: center;
}

h1 a{
	color: var(--accueiltext);
	cursor: pointer;
	text-decoration:none;
}

footer{
	/* grid-column-start: 1; */
	/* grid-column-end: span 2; */
	/* grid-row: 5; */
	background-color: var(--accueilback);
	border-top-color: var(--accueilborder);
	color:var(--accueiltext);
	display: flex;
	justify-content: space-between;
	/* padding: 2vh; */
	width: 100%;
	position: fixed;
	bottom: 0;
}

footer a{
	color: var(--accueiltext);
	cursor: pointer;
	text-decoration:none;
	padding: 1rem;
}

@keyframes wiggle {
       0% { transform: rotate(0deg); }
      80% { transform: rotate(0deg); }
      85% { transform: rotate(5deg); }
      95% { transform: rotate(-5deg); }
     100% { transform: rotate(0deg); }
}

.wiggle:hover {
     display: inline-block;
     animation: wiggle 800ms infinite;
}

.conteneur li{
    display:flex;
    justify-content:space-between;
    margin: 1.5rem 0;
  }
  
.conteneur{
  padding: 0;
  list-style-type: none;
}

.plat{
  display:block;
  text-align: justify;
 
}

.prix{
  display:block;
  

}
