body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: block;
}
@media (min-width: 768px) {
  body {
    max-width: 1200px;
  }
}
@media (min-width: 768px) {
  body.accueil {
    max-width: 1200px;
  }
}

header {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row: 1;
  background-color: #579c87;
  border-bottom-color: #a1c181;
  text-align: center;
  height: 5rem;
  display: flex;
  justify-content: center;
}
header h1 a {
  color: #fdcb46;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5em;
}

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  main.accueil {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px 400px 60px;
    grid-auto-flow: column;
  }
}
main.mentions {
  text-align: justify;
  margin: auto;
  width: 90%;
}

footer {
  background-color: #579c87;
  border-top-color: #a1c181;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  position: fixed;
  bottom: 0;
}
footer a {
  cursor: pointer;
  text-decoration: none;
  padding: 1rem;
  color: #fdcb46;
}
footer a:hover {
  animation: wiggle 200ms infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
i {
  display: block;
  margin-right: 0.5rem;
  font-size: 20px;
  margin-top: 0.3rem;
  font-weight: 900;
  align-self: center;
  background: -webkit-linear-gradient(left, #f04a5e, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

article {
  width: 80vw;
  max-width: 250px;
  height: 350px;
  place-self: center;
  text-align: center;
  box-shadow: 1px 1px 12px #555;
  cursor: pointer;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
@media (min-width: 768px) {
  article {
    width: 250px;
  }
}
article.LaNoteEnchantee {
  background-color: #fcdfdb;
  grid-column: 1;
  grid-row: 1;
  font-family: "Pacifico", cursive;
}
article.LaNoteEnchantee a {
  color: #3c1218;
  text-decoration: none;
}
article.LeChicALaFrancaise {
  background-color: #fff5fe;
  grid-column: 2;
  grid-row: 1;
  font-family: "Croissant One", serif;
}
article.LeChicALaFrancaise h2 a {
  color: #c77412;
  text-decoration: none;
}
article.LeChicALaFrancaise h2 span {
  font-size: small;
  background: -webkit-linear-gradient(left, #d8852e, #905bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
article.LeDeliceDesPapilles {
  background-color: #f9f9f9;
  grid-column: 1;
  grid-row: 2;
  font-family: "Dancing Script", cursive;
}
article.LeDeliceDesPapilles h2 a {
  color: #0887fb;
  text-decoration: none;
}
article.LeDeliceDesPapilles h2 span {
  background: -webkit-linear-gradient(left, #0022db, #64b2f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
article.LaPaletteDuGout {
  background-color: #fdfffd;
  grid-column: 2;
  grid-row: 2;
  font-family: "Kaushan Script", sans-serif;
}
article.LaPaletteDuGout h2 a {
  color: #72bf56;
  text-decoration: none;
}
article.LaPaletteDuGout h2 span {
  background: -webkit-linear-gradient(left, #3d9339, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
article h2:hover {
  animation: zoom 600ms infinite;
}
@keyframes zoom {
  0% {
    transform: scale(1);
    opacity: 100%;
  }
  25% {
    transform: scale(1.05);
    opacity: 90%;
  }
  50% {
    transform: scale(1.1);
    opacity: 75%;
  }
  75% {
    transform: scale(1.05);
    opacity: 50%;
  }
  100% {
    transform: scale(1);
    opacity: 25%;
  }
}

aside {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row: 3;
  align-items: center;
}
aside span {
  font-size: 2rem;
  animation: fondu 900ms infinite;
}
aside span.firstpoint {
  animation-delay: 400ms;
}
aside span.scdpoint {
  animation-delay: 600ms;
}
aside span.thdpoint {
  animation-delay: 800ms;
}

@keyframes fondu {
  0% {
    color: transparent;
  }
  33% {
    color: #fdcb46;
    opacity: 33%;
  }
  66% {
    color: #fdcb46;
    opacity: 66%;
  }
  100% {
    color: #fdcb46;
    opacity: 100%;
  }
}
.btn {
  background: #579c87;
  color: #fdcb46;
  font-size: 1.5rem;
  cursor: pointer;
  width: 15rem;
  height: auto;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  padding: 6px;
}body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: block;
}
@media (min-width: 768px) {
  body {
    max-width: 1200px;
  }
}
@media (min-width: 768px) {
  body.accueil {
    max-width: 1200px;
  }
}

header {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row: 1;
  background-color: #579c87;
  border-bottom-color: #a1c181;
  text-align: center;
  height: 5rem;
  display: flex;
  justify-content: center;
}
header h1 a {
  color: #fdcb46;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5em;
}

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  main.accueil {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px 400px 60px;
    grid-auto-flow: column;
  }
}
main.mentions {
  text-align: justify;
  margin: auto;
  width: 90%;
}

footer {
  background-color: #579c87;
  border-top-color: #a1c181;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  position: fixed;
  bottom: 0;
}
footer a {
  cursor: pointer;
  text-decoration: none;
  padding: 1rem;
  color: #fdcb46;
}
footer a:hover {
  animation: wiggle 200ms infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
i {
  display: block;
  margin-right: 0.5rem;
  font-size: 20px;
  margin-top: 0.3rem;
  font-weight: 900;
  align-self: center;
  background: -webkit-linear-gradient(left, #f04a5e, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main.LaNoteEnchantee {
  background-color: #fcdfdb;
  color: #3c1218;
  font-family: "Kalam", cursive;
}
main.LaNoteEnchantee h2 {
  font-family: "Pacifico", cursive;
}
main.LaNoteEnchantee p {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
}
main.LeChicALaFrancaise {
  background-color: #fff5fe;
  font-family: "Croissant One", Serif;
}
main.LeChicALaFrancaise h2 {
  width: fit-content;
  background: -webkit-linear-gradient(left, #d8852e, #905bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main.LeDeliceDesPapilles {
  background-color: #f9f9f9;
  color: #000000;
  font-family: "Dancing Script", cursive;
}
main.LeDeliceDesPapilles h2 {
  width: fit-content;
  background: -webkit-linear-gradient(left, #0022db, #64b2f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main.LaPaletteDuGout {
  background-color: #fdfffd;
  color: #000000;
  font-family: "Kaushan Script", sans-serif;
}
main.LaPaletteDuGout h2 {
  width: fit-content;
  background: -webkit-linear-gradient(left, #3d9339, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  align-self: center;
  text-align: center;
}

.conteneur {
  padding: 0;
  list-style-type: none;
}
.conteneur li {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem auto;
  width: 90vw;
  max-width: 800px;
}
.conteneur.firstchic {
  color: #d8852e;
}
.conteneur.scdchic {
  color: #b67094;
}
.conteneur.thdchic {
  color: #905bfd;
}

.plat {
  display: block;
  text-align: justify;
  max-width: 70vw;
}

.prix {
  display: block;
}

h3 {
  display: flex;
  justify-content: center;
  text-align: center;
}
h3 .LaNoteEnchantee {
  color: #3c1218;
  font-family: "Pacifico", cursive;
}
h3 .firstchic {
  color: #d8852e;
}
h3 .scdchic {
  color: #b67094;
}
h3 .thdchic {
  color: #905bfd;
}

.trait.LaNoteEnchantee {
  display: block;
  width: 25%;
  height: 2px;
  margin: auto;
  background: #3c1218;
}
.trait.firstchic {
  display: block;
  width: 25%;
  height: 2px;
  margin: auto;
  background: #d8852e;
}
.trait.scdchic {
  display: block;
  width: 25%;
  height: 2px;
  margin: auto;
  background: #b67094;
}
.trait.thdchic {
  display: block;
  width: 25%;
  height: 2px;
  margin: auto;
  background: #905bfd;
}
.trait.LeDeliceDesPapilles {
  display: block;
  width: 25%;
  height: 2px;
  margin: auto;
  background: #0022db;
}
.trait.LaPaletteDuGout {
  display: block;
  width: 25%;
  height: 2px;
  margin: auto;
  background: -webkit-linear-gradient(left, #3d9339, #bfff7e);
  -webkit-text-fill-color: transparent;
}
.trait.LaPaletteDuGout.inverse {
  transform: scaleX(-1);
}body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: block;
}
@media (min-width: 768px) {
  body {
    max-width: 1200px;
  }
}
@media (min-width: 768px) {
  body.accueil {
    max-width: 1200px;
  }
}

header {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row: 1;
  background-color: #579c87;
  border-bottom-color: #a1c181;
  text-align: center;
  height: 5rem;
  display: flex;
  justify-content: center;
}
header h1 a {
  color: #fdcb46;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5em;
}

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  main.accueil {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px 400px 60px;
    grid-auto-flow: column;
  }
}
main.mentions {
  text-align: justify;
  margin: auto;
  width: 90%;
}

footer {
  background-color: #579c87;
  border-top-color: #a1c181;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  position: fixed;
  bottom: 0;
}
footer a {
  cursor: pointer;
  text-decoration: none;
  padding: 1rem;
  color: #fdcb46;
}
footer a:hover {
  animation: wiggle 200ms infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
i {
  display: block;
  margin-right: 0.5rem;
  font-size: 20px;
  margin-top: 0.3rem;
  font-weight: 900;
  align-self: center;
  background: -webkit-linear-gradient(left, #f04a5e, #f78f6a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}