$accueiltext:#fdcb46;
$accueilback:#579c87;
$accueilborder:#a1c181;
$noteback:#fcdfdb;
$notetext:#3c1218;
$noteleft:#f04a5e;
$noteright:#f78f6a;
$chicback:#fff5fe;
$chictext:#c77412;
$chicleft:#d8852e;
$chiccenter:#b67094;
$chicright:#905bfd;
$deliceback:#f9f9f9;
$delicetext:#0887fb;
$delicetextmenu:#000000;
$deliceleft:#0022db;
$deliceright:#64b2f6;
$paletteback:#fdfffd;
$palettetext:#72bf56;
$palettetextmenu:#000000;
$paletteleft:#3d9339;
$paletteright:#bfff7e;

$degradenote:$noteleft,$noteright;
$degradechic:$chicleft,$chicright;
$degradedelice:$deliceleft,$deliceright;
$degradepalette:$paletteleft,$paletteright;

@mixin txt-gradient($degrade){
background: -webkit-linear-gradient( left,$degrade);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

body{
margin: auto;
font-family: "Roboto",sans-serif;
font-weight: bold;
display: block;

  	@media(min-width: 768px){
    max-width: 1200px;
  	}
  	&.accueil{
	@media(min-width: 768px){
    max-width: 1200px;
		}
	}
}

header{
grid-column-start: 1;
grid-column-end: span 2;
grid-row: 1;
background-color: $accueilback;
border-bottom-color: $accueilborder;
text-align: center;
height: 5rem;
display: flex;
justify-content: center;

	h1{		
		a{
		color: $accueiltext;
		cursor: pointer;
		text-decoration:none;
		font-size: 1.5em;
		}
	}
}

main{
display: flex;
flex-direction: column;
margin-bottom: 80px;

	&.accueil{
		@media(min-width: 768px){
		display: grid;
 		grid-template-columns: 50% 50%;
		grid-template-rows: 400px 400px 60px;
		grid-auto-flow: column;
		}
	}

	&.mentions{
		text-align: justify;
		margin:auto;
		width: 90%;
	}
}

footer{
background-color: $accueilback;
border-top-color: $accueilborder;
display: flex;
justify-content: space-between;
width: 100%;
max-width: 1200px;
position: fixed;
bottom: 0;

	a {
	cursor: pointer;
	text-decoration:none;
	padding: 1rem;
	color:$accueiltext;
		
		&:hover {
		animation:wiggle 200ms infinite;
		}
	}
}

@keyframes wiggle {
       0% { transform: rotate(0deg); }
      33% { transform: rotate(5deg); }
      66% { transform: rotate(-5deg); }
     100% { transform: rotate(0deg); }
}

i{
display: block;		
margin-right: .5rem;
font-size: 20px;
margin-top:.3rem;
font-weight:900;
align-self:center;
@include txt-gradient($degradenote);
}



