@import 'scss/all';


main{

    &.LaNoteEnchantee{
    background-color:$noteback;
    color: $notetext;
    font-family: "Kalam",cursive;
    	h2{
    	font-family: "Pacifico",cursive;
    
		}
		 
		p{
		text-align: center;	
		font-family: "Pacifico",cursive;
		font-size: 1.5rem;
		}
	}
   
    &.LeChicALaFrancaise{
  	background-color:$chicback;
  	font-family: "Croissant One",Serif;

  		h2{
		width: fit-content;
		@include txt-gradient($degradechic);
		}
   	}

  	&.LeDeliceDesPapilles{
	background-color:$deliceback;
	color:$delicetextmenu;
	font-family: "Dancing Script",cursive;

  		h2{
  		width: fit-content;
  		@include txt-gradient($degradedelice);
  		}
	}

	&.LaPaletteDuGout{
	background-color:$paletteback;
  	color:$palettetextmenu;
  	font-family: "Kaushan Script", sans-serif;

  		h2{
  		width: fit-content;
  		@include txt-gradient($degradepalette);
  		}
	}
}

h2{
	align-self:center;
	text-align: center;
}

.conteneur {
padding: 0;
list-style-type:none;

	li {
    display:flex;
    justify-content:space-between;
    margin: 1.5rem auto;
    width: 90vw;
    max-width: 800px;
  	}

	&.firstchic{
	color: $chicleft;
	}

	&.scdchic{
	color: $chiccenter;
	}

	&.thdchic{
	color: $chicright;
	}	
}
  
.plat{
 display:block;
 text-align: justify;
 max-width: 70vw;
}

.prix{
 display:block;
}

h3{
	display: flex;
	justify-content: center;
	text-align: center;
		.LaNoteEnchantee{
		color:$notetext;
		font-family: "Pacifico",cursive;
		}
		.firstchic{
		color:$chicleft;
		}
		.scdchic{
		color:$chiccenter;
		}
		.thdchic{
		color:$chicright;
		}
}

@mixin trait(){
display: block;
width: 25%;
height: 2px;
margin:auto;
}

.trait{
					
	&.LaNoteEnchantee{
	@include trait();
	background:$notetext;
	}
	&.firstchic{
	@include trait();
	background:$chicleft;
	}
	&.scdchic{
	@include trait();
	background:$chiccenter;
	}
	&.thdchic{
	@include trait();
	background:$chicright;
	}
	&.LeDeliceDesPapilles{
	@include trait();
	background:$deliceleft;
	}
	&.LaPaletteDuGout{
	@include trait();
	background: -webkit-linear-gradient(left, $paletteleft, $paletteright);
 	-webkit-text-fill-color: transparent;
		&.inverse{
		transform: scaleX(-1);
	}
}
}

